* {
    box-sizing: border-box;
}

body {
    background: darkred;
    font-family: 'Segoe UI', Roboto, sans-serif;
    margin: 0;
}

main {
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header {
    background-color: lightgrey;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

header h1 {
    color: green;
}